<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello World, I'm Bob Barker</h1>
    <p>I really love miso soup, how about you?</p>
    <img src="https://hikarimiso.com/wp-content/uploads/2018/02/Basic-Miso-Soup_M1nuteMiso_HikariMiso-500x500.jpg" alt="Miso Soup">
    <h3>About me:</h3>
    <p>Aenean rhoncus neque vel suscipit egestas. Vestibulum finibus dictum ante, eu ullamcorper turpis bibendum id. Phasellus felis nibh, facilisis sed pharetra vitae, pharetra eget erat. Fusce justo leo, faucibus sit amet viverra eu, commodo vitae leo. Curabitur molestie pharetra mi sed rhoncus. Mauris vulputate orci ac dui malesuada, vel commodo nunc condimentum. Nulla gravida sed dolor a lobortis. Praesent id quam aliquet, varius diam gravida, tincidunt diam. Nulla faucibus metus est, a posuere arcu maximus a. Mauris a magna id neque vestibulum ullamcorper. Integer vehicula magna tellus, eget tristique erat faucibus a. Aenean consequat vel dolor et imperdiet. Duis dolor lacus, laoreet et elit in, semper egestas ante.</p>
</body>
</html>