<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
    <h1>My Projects</h1>
    <h3>Here are some projects of mine!</h3>
    <div class="projects">
        <div class="project">
            <h5>Some TV Show App</h5>
            <img src="https://img.cinemablend.com/filter:scale/quill/0/1/7/2/2/9/017229dee7194b2d691c66881df8bf6664b05c34.jpg?mw=600" alt="Michael Scott">
            <p>Sometextsometextsometextsometext</p>
        </div>
    </div>    
        
</body>
</html>